.container
  %h1
    All your notifications
    %small from last 30 days

  %ul.js-skills-tab.nav.nav-tabs{ role: "tablist" }
    %li
      %h4.table__header.text-primary Notification types:
    - grouped_notifications_by_type.keys.each_with_index do |notification_type|
      %li{ role: "presentation" }
        %a{ id: "#{parameterize(notification_type)}-tab", aria: { controls: parameterize(notification_type), expanded: "false"}, data: { toggle: "tab" }, href: "##{parameterize(notification_type)}", role: "tab" }= notification_type.humanize

  .tab-content
    - grouped_notifications_by_type.each do |notification_type, notifications|
      .tab-pane.fade{ id: "#{parameterize(notification_type)}", aria: { labelledby: "#{parameterize(notification_type)}-tab" }, role: "tabpanel" }
        %table.table.table-condensed
          %thead
            %tr
              %th
              %th Message
              %th Sent at
              %th Notified at
              %th Actions
          %tbody
            - notifications.each do |notification|
              %tr
                %td
                  %i.glyphicon.notification__item__icon{ class: notification.icon_class }
                %td= raw notification.message
                %td= notification.humanized_sent_time
                %td
                  - if notification.notified?
                    = notification.humanized_notified_time
                  - else
                    %span.text-danger Not marked as read
                %td
                  .btn-group.skills__actions{ role: "group", aria: { label: "Actions" } }
                    - if notification.notified?
                      = link_to notification_path(notification),
                        class: "btn btn-default", role: 'button' do
                        %i.glyphicon.glyphicon-search
                    - else
                      = link_to notification_path(notification,
                        notification: {notification_status: 'notified'}),
                        method: :put,
                        class: "btn btn-primary", role: 'button' do
                        %i.glyphicon.glyphicon-search
