= simple_form_for @skill do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :rate_type, collection: ['boolean', 'range']
  = f.association :skill_category, collection: skill_categories

  = f.input :requester_explanation, as: :text
  .actions.pull-right
    = f.button :submit, class: 'btn-success'
    = link_to 'Back', skills_path, class: 'btn btn-default'
