= simple_form_for @skill do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :rate_type, collection: ['boolean', 'range']
  = f.association :skill_category, collection: skill_categories
  %hr
  %p.text-info
    %strong= "#{current_user.full_name} please provide short explanation why we need this change."
  = f.input :requester_explanation, as: :text, required: true, label: false
  %hr
  .actions.pull-right
    = f.button :submit, class: 'btn-success'
    = link_to 'Back', skills_path, class: 'btn btn-default'
