.container
  %h1 Listing skills

  %ul.js-skills-tab.nav.nav-tabs{ role: "tablist" }
    %li
      %h4.skills-header.text-primary Skill categories:
    - @grouped_skills_by_category.keys.each_with_index do |skill_category|
      %li{ role: "presentation" }
        %a{ id: "#{parametrize(skill_category)}-tab", aria: { controls: skill_category.parameterize('_'), expanded: "false"}, data: { toggle: "tab" }, href: "##{skill_category.parameterize('_')}", role: "tab" }= skill_category
    %li.pull-right{ role: "presentation" }
      = link_to new_skill_path, role: 'button' do
        %i.glyphicon.glyphicon-plus
        %span Add new skill

  .tab-content
    - @grouped_skills_by_category.each do |skill_category, skills|
      .tab-pane.fade{ id: "#{parametrize(skill_category)}", aria: { labelledby: "#{parametrize(skill_category)}-tab" }, role: "tabpanel" }
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Name
              %th Description
              %th Rate type
              %th Actions
          %tbody
            - skills.each do |skill|
              %tr
                %td= skill.name
                %td= skill.description
                %td= skill.rate_type
                %td
                  .btn-group.skills__actions{ role: "group", aria: { label: "Actions" } }
                    = link_to skill, class: "btn btn-info", role: 'button' do
                      %i.glyphicon.glyphicon-search
                    = link_to edit_skill_path(skill), class: "btn btn-primary", role: 'button' do
                      %i.glyphicon.glyphicon-cog
                    = link_to skill, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger ", role: 'button' do
                      %i.glyphicon.glyphicon-trash
