.container
  = render 'shared/categories_modal'
  %h1 Listing skills

  %ul.js-skills-tab.nav.nav-tabs{ role: "tablist" }
    %li
      %h4.table__header.text-primary Skill categories:
    - @grouped_skills_by_category.keys.each_with_index do |skill_category|
      %li{ role: "presentation" }
        %a{ id: "#{parameterize(skill_category)}-tab", aria: { controls: parameterize(skill_category), expanded: "false"}, data: { toggle: "tab" }, href: "##{parameterize(skill_category)}", role: "tab" }= skill_category
    %li.pull-right{ role: "presentation" }
      = link_to new_skill_path, role: 'button' do
        %i.glyphicon.glyphicon-plus
        %span Add new skill

  .tab-content
    - @grouped_skills_by_category.each do |skill_category, skills|
      .tab-pane.fade{ id: "#{parameterize(skill_category)}", aria: { labelledby: "#{parameterize(skill_category)}-tab" }, role: "tabpanel" }
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Name
              %th Description
              %th Rate type
              %th Actions
          %tbody
            - skills.each do |skill|
              %tr
                %td= skill.name
                %td= skill.description
                %td= skill.rate_type
                %td
                  .btn-group.skills__actions{ role: "group", aria: { label: "Actions" } }
                    = link_to skill, class: "btn btn-info", role: 'button' do
                      %i.glyphicon.glyphicon-search
                    - if skill.requested_change
                      = link_to edit_skill_path(skill),
                                class: "btn btn-primary disabled",
                                role: 'button' do
                        %i.glyphicon.glyphicon-cog
                      = link_to edit_draft_skill_path(skill.requested_change),
                                class: "btn btn-danger #{update_request_btn_class(skill.requested_change, current_user)}",
                                role: 'button' do
                        %i.glyphicon.glyphicon-comment
                    - else
                      = link_to edit_skill_path(skill),
                                class: "btn btn-primary",
                                role: 'button' do
                        %i.glyphicon.glyphicon-cog
