%p#notice= notice

%p
  %b Name:
  = @skill.name
%p
  %b Description:
  = @skill.description
%p
  %b Rate type:
  = @skill.rate_type
%p
  %b Skill category:
  = @skill.skill_category.name

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
