.container
  %h1.text-primary= @skill.name
  %hr
  .row
    .col-xs-6
      %p
        %b Description:
        = @skill.description
      %p
        %b Rate type:
        = @skill.rate_type
      %p
        %b Skill category:
        = @skill.skill_category.name
      = link_to edit_skill_path(@skill),
        class: "btn btn-primary #{request_change_btn_class(@skill)}",
        role: 'button' do
        %i.glyphicon.glyphicon-cog
        %span Request change
    - if draft_skills.present?
      = render 'last_5_draft_skills', draft_skills: draft_skills

  %hr
  %h3.text-primary List of users with their rates

  %table.table.table-striped.table-condensed
    %thead
      %tr.request-row
        %th First name
        %th Last name
        %th Primary role
        %th Favorite
        %th Rate
        %th History of all skills
    %tbody
      - users_with_skill.map do |user_skill_rate|
        %tr
          %th= user_skill_rate.first_name
          %th= user_skill_rate.last_name
          %th= user_skill_rate.role_name
          %th= user_skill_rate.favorite
          %th= user_skill_rate.rate
          %th= link_to 'Skills history', skills_history_user_path(user_skill_rate.user_id), class: 'btn btn-xs btn-default'
