= simple_form_for draft_skill do |f|
  = render 'draft_skill_with_skill', draft_skill: draft_skill, skill: skill
  = f.input :reviewer_explanation, as: :text, required: true
  .actions.pull-right
    = button_tag(type: 'submit', class: 'btn btn-success', value: 'accepted', name: 'draft_skill[draft_status]') do
      %i.glyphicon.glyphicon-ok
      %span Accept

    = button_tag(type: 'submit', class: 'btn btn-danger', value: 'declined', name: 'draft_skill[draft_status]') do
      %i.glyphicon.glyphicon-remove
      %span Cancel
