.container
  - if draft_skill.create_type?
    %h1
      %span= "Review request for creation new skill: #{draft_skill.name}"
  - else
    %h1
      %span= "Requested #{draft_skill.draft_type} for "
      = link_to skill.name, skill_path(skill)

  = render 'draft_skill', draft_skill: draft_skill, skill: skill
  = render 'form'
