.container
  - if draft_skill.create_type? || draft_skill.delete_type?
    %h1= "Requested #{draft_skill.draft_type} of skill: #{draft_skill.name}"
  - else
    %h1
      %span= "Requested update of skill "
      = link_to skill.name, skill_path(skill)

  = render 'draft_skill', draft_skill: draft_skill, skill: skill

  .actions.pull-right
    = link_to 'Go back to all requested changes', draft_skills_path, class: 'btn btn-default'
